{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h3>Welcome back! Please sign in to continue.</h3>
        <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a></p>
        <form method="post" action="{% url 'account_login' %}">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mt-2">Sign In</button>
        </form>
    </div>
</div>

{% endblock content %}