{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h1>Sign Up</h1>
        <p>Welcome to Chess Club! Already have an account? <a href="{% url 'account_login' %}">Sign in here.</a></p>
        <form method="post" action="{% url 'account_signup' %}">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mt-2">Sign Up</button>
        </form>
    </div>
</div>

{% endblock content %}