{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <h1>Edit Profile</h1>
        <form method="post" enctype="multipart/form-data">
            {{ profile_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mt-2">Save</button>
            <a href="{% url 'profile' profile.user.username %}" class="btn btn-secondary mt-2">Cancel</a>
        </form>
    </div>
</div>

{% endblock content %}